
body {

	background: linear-gradient(to right,  #434c56,  #003366);
	background-repeat: repeat-y;
	background-size: 100%;
	
}

.jumbotron {
	color: white;
	background-image: url(https://media.giphy.com/media/26CYAE1nLf19gYXq8/giphy.gif);
	background-repeat: repeat-y;
	background-size: 100%;
	text-align: center
}

#map {
	height: 400px;
	width: 100%
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

@media print {
    #map {
      height: 500px;
      margin: 0;
    }

 #box1 {
 	height: 300px;
 }